.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px 0;
}
.form {
    display: block;
    width: 90%;
    max-width: 400px;
    padding: 40px;
    border: 1px solid rgba(42, 41, 57, 0.1);
    border-radius: 20px;
}
.form h3 {
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}
.logo {
    display: flex;
    justify-content: center;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.inputContainer label {
    font-size: 14px;
    color: #777;
    font-weight: 500;
}
.inputContainer input, .inputContainer select {
    height: 40px;
    background: transparent;
    border-radius: 99px;
    border: 1px solid rgba(42, 41, 57, 0.1);
    padding: 7px 15px;
    font-size: 14px;
    outline: none;
    color: #000;
    margin-top: 5px;
}

.notifyText {
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
}
.notifyText a {
    color: #888;
}
.submitBtn {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    border-radius: 99px;
    border: none;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    background: #000;
}
@media screen and (max-width: 900px) {
    .form {
        padding: 30px 20px;
        border: none;
    }
    .inputContainer label {
        font-size: 13px;
    }
    .inputContainer input, .inputContainer select {
        font-size: 13px;
    }
}
