.container {
    padding: 20px;
}
.head + p {
    font-size: 14px;
}
.content {
    display: flex;
    margin-top: 30px;
}
.left {
    width: 65%;
    border-radius: 10px;
    overflow: hidden;
}
.left p {
    text-align: center;
}
.right {
    width: 35%;
    min-width: 250px;
    padding: 15px;
}
.right p {
    font-size: 14px;
    color: #333;
}
.lenders {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.lender {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(42, 41, 57, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
.lender button {
    border: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    height: 35px;
    cursor: pointer;
}
.notify {
    font-size: 14px;
    margin-top: 10px;
}
.btn {
    border: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    height: 35px;
    cursor: pointer;
}
.center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    min-height: 40px;
    min-width: 40px;
    border: 1px solid black;
}
.loc {
    font-size: 12px !important;
    color: green !important;
    font-weight: 500;
}
.tabContainer {
    height: 46px;
    padding: 3px;
    border-radius: 99px;
    width: 200px;
    background: #eee;
    margin: 20px auto;
}
.tab {
    width: 97px;
    border-radius: 99px;
    outline: none;
    background: transparent;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.tabActive {
    height: 40px;
    width: 97px;
    border-radius: 99px;
    outline: none;
    background: #000;
    border: none;
    color: #fff;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .tabContainer {
        margin: 10px auto;
    }
    .tab {
        font-size: 13px;
    }
    .head {
        text-align: center;
    }
    .head + p {
        font-size: 13px;
        text-align: center;
    }
    .content {
        flex-direction: column;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
        padding: 10px 0;
    }
    .right p {
        font-size: 13px;
    }
    .right h3 {
        text-align: center;
    }
    .right h3 + p {
        text-align: center;
    }
    .lenders {
        margin-top: 10px;
    }
    .notify {
        display: flex;
        justify-content: center;
    }
}
