.container {
    height: 60px;
    width: 100%;
    border-top: 1px solid rgba(42, 41, 57, 0.1);
    display: none;
    padding: 4px;
}
.navLinks {
    display: flex;
    width: 100%;
}
.navLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 7px;
    margin: 2px 0;
    background: transparent;
    outline: none;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;
    border-radius: 15px;
    color: #333;
    width: calc(100% /6);
}
.aNavLink {
    display: flex;
    column-gap: 7px;
    flex-direction: column;
    align-items: center;
    margin: 2px 0;
    background: transparent;
    outline: none;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;
    border-radius: 15px;
    background: #222;
    color: #fff;
    width: calc(100% /6);
}

.navLink svg {
    height: 22px;
    width: 22px;
    max-height: 22px;
    max-width: 22px;
}
.aNavLink svg {
    height: 22px;
    width: 22px;
    max-height: 22px;
    max-width: 22px;
}
@media screen and (max-width: 900px) {
    .container {
        display: flex;
    }
}
