.container {
    width: 220px;
    max-width: 220px;
    padding: 10px;
    border-right: 1px solid rgba(42, 41, 57, 0.1);
}
.logo {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.navLinks {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.navLink {
    display: flex;
    column-gap: 7px;
    margin: 2px 0;
    background: transparent;
    outline: none;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    color: #333;
}
.aNavLink {
    display: flex;
    column-gap: 7px;
    margin: 2px 0;
    background: transparent;
    outline: none;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    background: #222;
    color: #fff;
}
.navLink:hover {
    background: #ddd;
}
.navLink svg {
    height: 22px;
    width: 22px;
    max-height: 22px;
    max-width: 22px;
}
.aNavLink svg {
    height: 22px;
    width: 22px;
    max-height: 22px;
    max-width: 22px;
}
